/.curseclient
/.mixin.out
/.vscode
/armourers_workshop
/blueprints
/crash-reports
/downloads
/ESM
/fancymenu_data
/fancymenu_setups
/journeymap
/local
/logs
/minecraftinstance.json
/modernfix
/mods
/options.txt
/patchouli_books
/patchouli_data.json
/quests_structures
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/servers.dat
/servers.dat_old
/shaderpacks
/showdown
/showdown-backup
/usercache.json
/usernamecache.json
config/bettervillage_1.properties
.gitignore
config/oculus.properties
config/jei/world/server/Minecraft_Server_46445aa4/bookmarks.ini
